[submodule "audio_service"]
	path = audio_service
	url = https://github.com/hacker1024/audio_service
[submodule "animated-stream-list"]
	path = animated-stream-list
	url = https://gitlab.com/otsoaUnLoco/animated-stream-list
